@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}


@model Mealify.Models.Category

@if (!ViewBag.Authorized)
{
    <p class="text-center">Seems like <strong class="text-bg-danger">&nbsp;YOU ARE NOT AUTHORIZED&nbsp;</strong> for this action !!!</p>
}
@if (ViewBag.Authorized)
{
    <div class="row">
        <div class="col-md-12">
            <div class="postResult"></div>
            <form id="createCategory" onsubmit="return false">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RestaurantId" class="control-label"></label>
                    <select asp-for="RestaurantId" class="form-control" asp-items="ViewBag.Restaurant"></select>
                    <span asp-validation-for="RestaurantId" class="text-danger"></span>
                </div><br />
                <div class="form-group">
                    <label asp-for="StateId" class="control-label"></label>
                    <select asp-for="StateId" class="form-control" asp-items="ViewBag.StateId"></select>
                </div>

                <div class="form-group">
                    <input data-send="1" data-post-url="Categories/Create" data-action="createCategory" type="submit" value="Create" class="btn btn-primary float-end" />
                </div>
            </form>
        </div>
    </div>
}