@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@if (ViewBag.Authorized)
{
    <div class="postResult"></div>
    <form id="deleteCategory" onsubmit="return false">
        <span>Are you really sure delete this item</span>
        <input data-send="1" data-post-url="Categories/DeleteConfirmed/@ViewBag.Id" data-action="deleteCategory" type="submit" value="Yes I'm Sure Delete" class="float-end btn btn-danger" />
    </form>
}
@if (!ViewBag.Authorized)
{
    <p class="text-center">Seems like <strong class="text-bg-danger">&nbsp;YOU ARE NOT AUTHORIZED&nbsp;</strong> for this action !!!</p>
}