@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<form>
    
    <p>Do you really want to delete these records? This process cannot be undone.</p>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
